.projects{
    max-width: var(--max-width);
    margin: auto;
}
.port-boxes{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.p-box{
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    padding: 25px 20px;
    background-color:rgb(20, 1, 31);
}
.p-box img{
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}
.on-top{
    margin-top: 1rem;
    align-content: center;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.on-top h5{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--primary-color);
}
.on-top p{
    font-size: 0.7rem;
    font-weight: 500;
    color: rgba(217, 243, 235, 0.904);
    line-height: 24px;
}
.on-top span{
    font-size: 0.8rem;
    font-weight: 500;
    color: rgba(189, 186, 238, 0.904);
    line-height: 24px;
}
.on-top i{
    color: #a104fcec;
    margin-top: 20px;
    font-size: 20px;
    background: rgb(230, 237, 243);
    width: 50px;
    height: 50px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.on-top a{    
    margin-top: 15px;
}
.p-box:hover img{
    transform: scale(1.1);
}
.p-box:hover .on-top{
    height: 100%;
}

.btn{
    text-align: center;
}
.btn a button{
    padding: 10px;
    width: 17%;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    letter-spacing: 0.5px;
    color:  var(--extra-light);
    cursor: pointer;
    background-color:var(--primary-color);
}
.btn a>button:hover{
    background-color: var(--primary-color-dark);
    transform: scale(1.05);
    cursor: pointer;
}
.btn a span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
.btn a span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .btn a:hover span {
    padding-right: 25px;
  }
  
  .btn a:hover span:after {
    opacity: 1;
    right: 0;
  }

@media (max-width: 1200px){
    .projects{
        width: 80%;
        margin: auto;
    }
}
@media (max-width: 700px){
    .btn a button{
        width: 27%;
        font-size: 15px;
    }
    .p-box img{
        width: 100%;
    }
    
}
@media (max-width: 450px){
    .btn a button{
        width: 37%;
        font-size: 14px;
    }
    
}

@media (max-width: 400px){
    .projects{
        width: 100%;
    }
    .p-box{
        position: relative;
        overflow: hidden;
        width: 80%;
        margin: auto;
    }
    .p-box img{
        width: 90%;
    }
}
