.section {
    /* background-color: var(--extra-light); */
    position: relative;
  }
  .floating-shapes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .shape {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    animation: floatAnimation 5s infinite;
  }
  
  .shape1 {
    background-color: #FFC0CB;
    top: 20%;
    left: 20%;
  }
  
  .shape2 {
    background-color: #8e90ec;
    top: 30%;
    left: 90%;
  }
  
  .shape3 {
    background-color: #98FB98;
    top: 60%;
    left: 50%;
  }
  
  @keyframes floatAnimation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-30px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  
  .section__container {
    min-height: 100vh;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .subtitle {
    letter-spacing: 2px;
    color: var(--text-light);
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  
  .title {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    color: var(--text-white);
    margin-bottom: 1rem;
  }
  
  .title .diff {
    font-weight: 600;
    color: var(--primary-color);
    font-size: 3rem;
  }
  
  .description {
    line-height: 1.5rem;
    color: var(--text-light);
    margin-bottom: 2rem;
  }
  
  .action__btns {
    display: flex;
    gap: 1rem;
  }
  
  .action__btns button {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    outline: none;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .hire__me {
    background-color: var(--primary-color);
    color: #ffffff;
  }
  
  .hire__me:hover {
    background-color: var(--primary-color-dark);
  }
  
  .portfolio {
    color: var(--primary-color);
  }
  
  .portfolio:hover {
    background-color: var(--primary-color-dark);
    color: #ffffff;
  }
  
  .image {
    display: grid;
    place-items: center;
    padding-top: 4rem;
  }
  
  .image img {
    width: min(30rem, 100%);
    border-radius: 100%;
  }
  
  @media (width < 750px) {
  
    .section__container {
      padding: 5rem 1rem 5rem 1rem;
      text-align: center;
      grid-template-columns: repeat(1, 1fr);
    }
  
    .image {
      grid-area: 1/1/2/2;
    }
  
    .action__btns {
      margin: auto;
    }
  }